<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>NSAppIconActionTintColorName</key>
			<string>ShortcutIconForeground</string>
			<key>NSAppIconComplementingColorNames</key>
			<array>
				<string>IconGradientTop</string>
				<string>IconGradientBottom</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.neo.Cookbook.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cookbook</string>
			</array>
		</dict>
	</array>
	<key>CoreSpotlightActions</key>
	<array>
		<dict>
			<key>CoreSpotlightActionIdentifier</key>
			<string>recipe.make</string>
			<key>CoreSpotlightActionSymbolImage</key>
			<string>frying.pan</string>
			<key>CoreSpotlightActionTitle</key>
			<string>Make</string>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add to Pantry</string>
			<key>UIApplicationShortcutItemType</key>
			<string>pantry.add-item</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Recipe</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.neo.Cookbook.recipe</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>recipe</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
